<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel='stylesheet' href='/stylesheets/test.css'/>
    <title>Document</title>
</head>
<body>
    <input type='text' id='hour' placeholder="시"/>
    <input type='text' id='minute' placeholder="분"/>
    <button id='calculate'>calc</button>
    <div class='head-line1 light'>헤드라인1</div>
    <div class='head-line2 light'>헤드라인2</div>
    <div class='head-line3'>헤드라인3</div>
    <div class='head-line4'>헤드라인4</div>
    <div class='head-line5'>헤드라인5</div>
    <div class='head-line6'>헤드라인6</div>
    <div class='sub-title1'>서브타이틀1</div>
    <div class='sub-title2 bold'>서브타이틀2</div>
    <div class='body1'>바디1</div>
    <div class='body2'>바디2</div>
    <div class='button bold'>버튼</div>
    <div class='caption'>캡션</div>
    <div class='overline'>오버라인</div>
    가나다라마바사아자차카타파하
    <script src="/javascripts/test.js"></script>
</body>
</html>